appdirs
astroid
atomicwrites
attrs
black
boto
boto3
botocore
certifi
chardet
click
colorama
dj-database-url
Django
django-storages
djangorestframework
docutils
gunicorn
idna
importlib-metadata
isort
jmespath
lazy-object-proxy
Markdown
mccabe
more-itertools
mypy
mypy-extensions
packaging
pathspec
Pillow
pluggy
psycopg2
py
pylint
pyparsing
pytest
python-dateutil
python-decouple
pytz
regex
requests
s3transfer
six
toml
typed-ast
typing-extensions
urllib3
wcwidth
wrapt
zipp
